/* General Body Styles */
body {
  background-color: #2e2f32;
  color: #bfbbbb;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* App container to ensure footer sticks to the bottom */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
  color: #ffffff;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

/* Custom Bootstrap Overrides */
.navbar-dark .navbar-brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.8em;
}

.navbar-dark .nav-link {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
}

.btn-primary, .btn-outline-primary:hover, .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  background-color: #f96815;
  border-color: #f96815;
  color: white;
}

.btn-outline-primary {
  color: #f96815;
  border-color: #f96815;
}

.badge.bg-primary {
    background-color: #f96815 !important;
}


/* Project Card Styles */
.card {
  border: 1px solid #444;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card-footer {
  background-color: #343a40;
  border-top: 1px solid #444;
}

/* Icon Styles */
.icon {
  cursor: pointer;
  transition: color 0.2s;
}

.icon:hover {
  color: #61dafb;
}

/* PDF Viewer Styles */
.react-pdf__Page__canvas {
  margin: 0 auto;
  max-width: 100%;
  height: auto !important;
}

/* Footer Styles */
.footer {
  background-color: #27272b;
}

.socialIcons {
  margin-left: 0.8vh;
  margin-right: 0.8vh;
  color: #f96815;
  transition: color 0.2s;
}

.socialIcons:hover {
  color: #61dafb;
}
